# API
/api/node_modules/
/api/dist/

# FE
/fe/node_modules/
# Logs
/fe/logs
/fe/*.log
/fe/npm-debug.log*
/fe/yarn-debug.log*
/fe/yarn-error.log*
/fe/pnpm-debug.log*
/fe/lerna-debug.log*

/fe/dist
/fe/dist-ssr
/fe/*.local

# Editor directories and files
/fe/.vscode/*
/fe/!.vscode/extensions.json
/fe/.idea
/fe/.DS_Store
/fe/*.suo
/fe/*.ntvs*
/fe/*.njsproj
/fe/*.sln
/fe/*.sw?

# Mobile

# dependencies
/app/node_modules/

# Expo
/app/.expo/
/app/dist/
/app/web-build/
/app/expo-env.d.ts

# Native
/app/*.orig.*
/app/*.jks
/app/*.p8
/app/*.p12
/app/*.key
/app/*.mobileprovision

# Metro
/app/.metro-health-check*

# debug
/app/npm-debug.*
/app/yarn-debug.*
/app/yarn-error.*

# macOS
/app/.DS_Store
/app/*.pem

# local env files
/app/.env*.local

# typescript
/app/*.tsbuildinfo
